@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
  font-weight: 600;  
}

.app {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
  gap: 10px;
}

.wrapper {  
  border-radius: 10px;
  max-width: 500px;
  border: 3px solid #302f2f;
  padding: 0.8px;
}

.wrapper-inner {
  border-radius: 8px;
  border: 3px solid #302f2f;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header h1 {
  margin: 0 0 0 0;
}

.card-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  min-height: 230px;
  margin-bottom: 7px;
}

.card-text p {
  margin-bottom: -10px;
}

.image {  
  max-width: 100%;  
}

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

.rating__item {
  font-size: 50px;
  color: #dcdcdc;
  cursor: pointer;
  transition: .2s;
  padding-right: 5px;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
  color: orange;
}

.rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating[data-total-value="5"] .rating__item:nth-child(n + 1) {
  color: orange;
}